<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TownClap"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.ExportActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HearExportListActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HearCategotyActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HearActivity"
            android:exported="false"
            android:theme="@style/Theme.Intro" />
        <activity
            android:name=".activity.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BookingDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ResedulActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BookingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ReferlActivity"
            android:exported="false" />
        <activity
            android:name=".activity.WalletActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TimeSlotActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CartActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BasicActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AddOnsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ItemListActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SubCategoryActivity"
            android:exported="false"
            android:theme="@style/Theme.Intro" />
        <activity
            android:name=".activity.SubCategoyTypeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ServiceAllActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DynamicAllActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SearchLocationActivity"
            android:exported="false"
            android:theme="@style/Theme.Intro" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Intro" />
        <activity
            android:name=".activity.HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.Intro" />
        <activity
            android:name=".activity.VerifyPhoneActivity"
            android:exported="false"
            android:theme="@style/Theme.Intro" />
        <activity
            android:name=".activity.FlutterwaveActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SenangpayActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PaystackActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PaytmActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AddressActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RazerpayActivity"
            android:exported="false" />
        <activity
            android:name=".activity.StripPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PaypalActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PrivecyPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AboutsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TramsAndConditionActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ContectusActivity"
            android:exported="false" />
        <activity
            android:name=".activity.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ForgotActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ChanegPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activity.IntroActivity"
            android:exported="false"
            android:theme="@style/Theme.Intro" />
        <activity
            android:name=".locationpick.LocationGetActivity"
            android:exported="false"
            android:theme="@style/Theme.Intro" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/api_key" />

        <activity
            android:name=".activity.FirstActivity"
            android:exported="true"
            android:theme="@style/Theme.Intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name="com.razorpay.RzpTokenReceiver"
            android:exported="false"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="rzp.device_token.share" />
            </intent-filter>
        </receiver>
        <activity
            android:name="com.razorpay.CheckoutActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@style/CheckoutTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <data
                    android:host="rzp.io"
                    android:scheme="io.rzp" />
            </intent-filter>
        </activity>
    </application>

</manifest>